@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #023047;    
    margin: 0;
}

#to-do h1 {
    color: #023047;
}

#to-do {
    background-color: #ffb703;
    padding: 20px;
    margin: 8px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px black;
    width: 350px;
}

#to-do #add-task input{
    margin: 10px 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#to-do #add-task button{
    margin-left: 40px;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    background-color: #023047;
    border-radius: 8px;
    color: #f4f4f4;
}

#to-do #add-task button:hover{
    padding: 7px 12px 7px 12px;
    background-color: #004669;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}




